@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "SF Pro Display", sans-serif;
  color: "#242222";
}

.myContainer {
  @apply container mx-auto;
}

.heading5 {
  @apply lg:text-3xl text-lg;
}

.heading6 {
  @apply lg:text-xl text-base;
}

.text {
  @apply xl:text-lg text-base;
}

.smtext {
  @apply xl:text-lg md:text-base text-xs;
}

.flexBetween {
  @apply flex items-center justify-between;
}

.flexCenter {
  @apply flex items-center justify-center;
}

.flexICenter {
  @apply flex items-center;
}

.navbarBtn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fafafa;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #f0f0f0;
}
